@import "../mixins.scss";

.project-header {
    margin: 47px 11.11% 0 11.11%;
    @include flex(column, center, space-around, 0);
}

.header-nav {
    width: 100%;
    @include flex(row, baseline, space-between, 0);
}

.header-logo {
    font-size: 2rem;
}

.header-links, .header-buttons {
    @include flex(row, center, center, 40px);
} 

.header-links_link {
    @include button(#5C6A79, 16px);
    font-weight: 700;
}

.active {
    @include button(#1C2A39, 16px);
    font-weight: 900;
}

.header-buttons_login, .header-buttons_search, .header-buttons_shopper {
    @include svg(unset, unset);
    cursor: pointer;
    transform: scale(1.4);
}

.banner-slide {
    margin-top: 40px;
    width: 100%;
    @include flex(column, center, center, 10px);
    position: relative;
}

.slider-wrapper {
    width: 100%;
    overflow: hidden;
}

.slide-wrapper:not(.active-slide){
    height: 0;
}

.slide-wrapper {
    width: 100%;
    visibility: hidden;
    transform: scale(0.05);
    transition: 0.2s;
  }
  
  .slide-wrapper.active-slide {
    transform: scale(1);
    visibility: visible;
  }

.slide-wrapper_img {
    width: 100%;
}

.slide-dots {
    @include flex(row, center, center, 10px)
}

.slide-dots_dot {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: rgb(160, 154, 223, 0.6);
    cursor: pointer;
    transition: 0.3s;
}

.active-dot {
    background-color: #9E98DC;
    transform: scale(1.1);
}

.slider-wrapper_purple, .slider-wrapper_pink {
    @include flex(column, flex-start, flex-end, 0)
}

.purple_img, .pink_img {
    transition: 0.3s
}

.slider-wrapper_purple {
    @include promo(#9E98DC);
    height: 204px;
    top: 6%;
    right: -8%;
}

.slider-wrapper_purple:hover {
    background-color: #b7b0ff;
    transform: scale(1.05);
    .purple_img {
        transition: 0.3s;
        transform: translateX(10px);
    }
}

.slider-wrapper_pink {
    @include promo(#FF8FE6);
    padding: 0 47px 20px 20px;
    height: 273px;
    bottom: 10%;
    right: -13%;
}

.slider-wrapper_pink:hover {
    background-color: #ff75e1;
    transform: scale(1.05);
    .pink_img {
        transition: 0.3s;
        transform: translateX(10px);
    }
}