@import "../mixins";

@media screen and (max-width: 600px) {
    .project-header {
        margin: 20px 2% 0 2%;
    }
    .header-logo {
        font-size: 1.5rem;
    }
    .header-nav {
        height: 50px;
        padding: 10px 2% 0 11%;
    }
    .header-links {
        display: none;
        // position: fixed;
        // top: 0;
        // right: 0;
        // background-color: #ffffff;
        // width: 100%;
        // height: 100%;
        // @include flex(column, flex-start, flex-start, 5px);
        // padding: 20px;
        // z-index: 99999;
    }
    // .header-links_link {
    //     font-size: 24px;
    // }

    .header-nav {
        @include flex(row, baseline, space-between, 0);
    }

    .header-buttons {
        @include flex(row, center, center, 25px);
        margin-right: auto;
        margin-left: auto;
    }

    .header-buttons_login, .header-buttons_search, .header-buttons_shopper {
        transform: scale(1.5);
    }

    .slider-wrapper_purple,.slider-wrapper_pink, .category-list {
        display: none;
    }

    .project-main {
        margin: 20px 2% 0 2%;
        @include flex(column, center, flex-start, 20px);
    }

    .banner-slide {
        margin-top: 20px;
    }

    .book {
        gap: 10px;
    }
    .book-info_h1 {
        font-size: 14px;
    }
    .book-info {
        max-width: 160px;
        min-width: 160px;
    }
    .book-info_button {
        width: 160px;
    }

    .book-catalog {
        gap: 20px;
    }
}