@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  font-size: 16px;
}

.project-header {
  margin: 47px 11.11% 0 11.11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0;
}

.header-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: 0;
}

.header-logo {
  font-size: 2rem;
}

.header-links, .header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header-links_link {
  color: #5C6A79;
  text-decoration: none;
  cursor: pointer;
  background-color: none;
  font-size: 16px;
  transition: 0.3s;
  font-weight: 700;
}

.active {
  color: #1C2A39;
  text-decoration: none;
  cursor: pointer;
  background-color: none;
  font-size: 16px;
  transition: 0.3s;
  font-weight: 900;
}

.header-buttons_login, .header-buttons_search, .header-buttons_shopper {
  background-color: none;
  border: none;
  width: unset;
  height: unset;
  cursor: pointer;
  transform: scale(1.4);
}

.banner-slide {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
}

.slide-wrapper:not(.active-slide) {
  height: 0;
}

.slide-wrapper {
  width: 100%;
  visibility: hidden;
  transform: scale(0.05);
  transition: 0.2s;
}

.slide-wrapper.active-slide {
  transform: scale(1);
  visibility: visible;
}

.slide-wrapper_img {
  width: 100%;
}

.slide-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slide-dots_dot {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: rgba(160, 154, 223, 0.6);
  cursor: pointer;
  transition: 0.3s;
}

.active-dot {
  background-color: #9E98DC;
  transform: scale(1.1);
}

.slider-wrapper_purple, .slider-wrapper_pink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0;
}

.purple_img, .pink_img {
  transition: 0.3s;
}

.slider-wrapper_purple {
  position: absolute;
  background-color: #9E98DC;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  z-index: 100;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 27px 8px -14px rgba(81, 87, 92, 0.29);
  height: 204px;
  top: 6%;
  right: -8%;
}

.slider-wrapper_purple:hover {
  background-color: #b7b0ff;
  transform: scale(1.05);
}
.slider-wrapper_purple:hover .purple_img {
  transition: 0.3s;
  transform: translateX(10px);
}

.slider-wrapper_pink {
  position: absolute;
  background-color: #FF8FE6;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  z-index: 100;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 27px 8px -14px rgba(81, 87, 92, 0.29);
  padding: 0 47px 20px 20px;
  height: 273px;
  bottom: 10%;
  right: -13%;
}

.slider-wrapper_pink:hover {
  background-color: #ff75e1;
  transform: scale(1.05);
}
.slider-wrapper_pink:hover .pink_img {
  transition: 0.3s;
  transform: translateX(10px);
}

.project-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  margin: 100px 11.11% 0 11.11%;
}

.category-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
  list-style-type: none;
}

.category-list::before {
  position: absolute;
  content: "";
  width: 516px;
  background-color: #efeef6;
  height: 100%;
  z-index: 100;
  padding-bottom: 30px;
  top: -30px;
  left: -120%;
}

.category-list_li {
  color: #5C6A79;
  text-decoration: none;
  cursor: pointer;
  background-color: none;
  font-size: 18px;
  transition: 0.3s;
  font-weight: 600;
  z-index: 200;
}

.category-list_li:hover {
  transform: scale(1.1);
  color: #1c2a39;
  font-weight: 800;
}

.active-category {
  position: relative;
  transform: scale(1.1);
  color: #1c2a39;
  font-weight: 800;
}

.active-category::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #756ad3;
  left: -20px;
  top: 6px;
  border-radius: 20px;
}

/*# sourceMappingURL=index.css.map */
