@mixin flex($direction, $align, $justify, $gap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin button($color, $size) {
    color: $color;
    text-decoration: none;
    cursor: pointer;
    background-color: none;
    font-size: $size;
}

@mixin svg($width, $height) {
    background-color: none;
    border: none;
    width: $width;
    height: $height;
}

@mixin promo($bg-color){
    position: absolute;
    background-color: $bg-color;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 27px 8px -14px rgba(81, 87, 92, 0.29);
}